@font-face {
  font-family: nunito;
  src: url(../public//Nunito-Regular.ttf);
}
body {
  margin: 0;
  font-family: nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input, button{
  font-family: nunito;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
